body {
    background-color: beige;
}

h4 {
    color: black;
    text-align: left;

}

h3 {
    color: burlywood;
    text-align: left;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }